html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

/*
 * Active place/restaurant
 */
.active {
	color: red;
}

/*
 * Map
 */
#map {
	/* Full screen */
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	/* Background */
	z-index: 0;
}

/*
 * Open button
 */
 .openbutton {
 	position: fixed;
 	top: 0;
 	left: 0;
 	z-index: 2;
 }

 .openbutton__hidden {
 	z-index: -1;
 }

/*
 * Close button
 */

 .closebutton {

 }

/*
 * Sidebar
 */

/*Off screen by default*/
.sidebar {
	z-index: 1;
	opacity: .7;
	position: fixed;
	left:-300px;
	top:0;
	width: auto;
	background: black;
	height: 100%;
	color: white;
	display: flex; /*etc?*/
}

/*Translate to open*/
.sidebar__open {
	/*left:0;*/
	opacity: ..8;
	transform: translateX(300px);
}

/* Smooth animation */
.sidebar, .sidebar:after{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

/*Content*/
.sidebar-content {
	width: 290px;
	padding-left: 10px;
}

/*Sidebar "edge"; hidden completely on mobile. */
.sidebar-edge {
	display: none;
}

/*If not mobile*/
@media screen and (min-width: 500px) {

	/*Show sidebar-edge.*/
	.sidebar-edge {
		display: block;
		width: 30px;
		padding: 10px;
	}

	/* Create a CSS arrow on sidebar edge */
	/*http://www.sitepoint.com/css3-sliding-menu/*/
	.sidebar:after
	{
		position: absolute;
		content: ' ';
		width: 0;
		height: 0;
		top: 50%;
		border-width: 30px 12px;
		border-style: solid;
		border-color: transparent transparent transparent black;
	}

	/*Hide open button*/
	.openbutton {
		display: none;
	}

	/*Hide close button*/
	.closebutton{
		display: none;
	}
}

/*
 * InfoWindows
 */
.infowindow {
 color:red;
 left:50px;
}

